<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>213801109502-3vh24pa6nf050g2osicm8fmcres6954e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213801109502-3vh24pa6nf050g2osicm8fmcres6954e</string>
	<key>API_KEY</key>
	<string>AIzaSyBX0MsaUvQ8NXvzhagXhEYL0fo1RERrpig</string>
	<key>GCM_SENDER_ID</key>
	<string>213801109502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exelon.mobile.peco.staging</string>
	<key>PROJECT_ID</key>
	<string>peco-78bf2</string>
	<key>STORAGE_BUCKET</key>
	<string>peco-78bf2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:213801109502:ios:47e183e8eba65d6c</string>
	<key>DATABASE_URL</key>
	<string>https://peco-78bf2.firebaseio.com</string>
</dict>
</plist>