<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>environment</key>
	<string>PRODBETA</string>
	<key>opco</key>
	<string>Delmarva</string>
	<key>appName</key>
	<string>Delmarva</string>
	<key>mcsInstanceName</key>
	<string>Prod-delmarvaMBE</string>
	<key>myAccountUrl</key>
	<string>https://delmarva.com/MyAccount</string>
	<key>firebaseConfigFile</key>
	<string>GoogleService-Info_delmarva_prodbeta</string>
	<key>gaTrackingId</key>
	<string>UA-76742208-1</string>
	<key>opcoUpdatesHost</key>
	<string>www.delmarva.com</string>
	<key>associatedDomain</key>
	<string>secure.delmarva.com</string>
	<key>appCenterId</key>
	<string>d3ecc389-d8ad-4806-a5d3-e067b7adb02d</string>
</dict>
</plist>
