<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>environment</key>
	<string>TEST</string>
	<key>opco</key>
	<string>Delmarva</string>
	<key>appName</key>
	<string>Delmarva_TEST</string>
	<key>mcsInstanceName</key>
	<string>Test-delmarvaMBE</string>
	<key>myAccountUrl</key>
	<string>https://aztst.delmarva.com/MyAccount</string>
	<key>firebaseConfigFile</key>
	<string>GoogleService-Info_delmarva_testing</string>
	<key>gaTrackingId</key>
	<string>UA-76742208-8</string>
	<key>opcoUpdatesHost</key>
	<string>azstg.delmarva.com</string>
	<key>associatedDomain</key>
	<string>azstg-secure.delmarva.com</string>
	<key>appCenterId</key>
	<string>5555b456-47b1-4288-b4d4-c6cf44b15fb9</string>
</dict>
</plist>
