github "ReactiveX/RxSwift" == 3.4.1
github "airbnb/lottie-ios" == 1.5.1
github "jverdi/JVFloatLabeledTextField" == 1.1.1
github "scalessec/Toast-Swift" == 2.0.0
github "dropbox/zxcvbn-ios" == 1.0.4
github "bitstadium/HockeySDK-iOS" == 4.1.4
github "lyft/mapper" == 6.0.0
github "ashleymills/Reachability.swift" == 3.0
github "RxSwiftCommunity/RxSwiftExt" == 2.4.1
