github "ReactiveX/RxSwift" == 4.3.0
github "airbnb/lottie-ios" == 2.0.3
github "jverdi/JVFloatLabeledTextField" == 1.2.1
github "scalessec/Toast-Swift" == 4.0.0
github "dropbox/zxcvbn-ios" == 1.0.4
github "lyft/mapper" == 9.0.0
github "ashleymills/Reachability.swift" == 4.2.1
github "RxSwiftCommunity/RxSwiftExt" == 3.3.0
github "jivesoftware/PDTSimpleCalendar" == 0.9.1
github "danielgindi/Charts" == 3.2.0
github "Microsoft/AppCenter-Test-XCUITest-Extensions"
github "RxSwiftCommunity/RxGesture" == 2.0.1
github "marcshilling/XLPagerTabStrip" "master"
