<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>watchGaTrackingId</key>
	<string></string>
	<key>environment</key>
	<string>HOTFIX</string>
	<key>opco</key>
	<string>ComEd</string>
	<key>appName</key>
	<string>ComEd_HOTFIX</string>
	<key>mcsInstanceName</key>
	<string>Stage-comedHotfixMBE</string>
	<key>myAccountUrl</key>
	<string>https://azstage.comed.com/MyAccount</string>
	<key>outageMapUrl</key>
	<string>https://s3.amazonaws.com/outagemap.comed.com/app.html</string>
	<key>paymentusUrl</key>
	<string>https://secure2.paymentus.com/xotp/pm/comd</string>
	<key>firebaseConfigFile</key>
	<string>GoogleService-Info_comed_hotfix</string>
	<key>gaTrackingId</key>
	<string>UA-76742208-16</string>
	<key>opcoUpdatesHost</key>
	<string>azstage.comed.com</string>
	<key>associatedDomain</key>
	<string>azstg-secure.comed.com</string>
	<key>appCenterId</key>
	<string>c395dfcc-f7fc-4430-9974-d45b8f4d3dd1</string>
</dict>
</plist>
