<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mobileBackends</key>
	<dict>
		<key>Dev</key>
		<dict>
			<key>baseURL</key>
			<string>https://exeloneumobileappdev-a453576.mobileenv.us2.oraclecloud.com:443</string>
			<key>appKey</key>
			<string>076abdcd-0f21-4c90-961c-ee223ee9e97d</string>
			<key>authorization</key>
			<dict>
				<key>authenticationType</key>
				<string>SSOTokenExchange</string>
				<key>SSOTokenExchange</key>
				<dict>
					<key>mobileBackendID</key>
					<string>2b69703f-83b5-4ee2-95b6-316d90bb2838</string>
					<key>anonymousKey</key>
					<string>YW5vbl9kZXY6QDNEdGx0ZiQ3VVF4YUdTYTZESCo=</string>
				</dict>
			</dict>
			<key>networkConnectionTimeout</key>
			<integer>60</integer>
		</dict>
		<key>DevAnon</key>
		<dict>
			<key>baseURL</key>
			<string>https://exeloneumobileappdev-a453576.mobileenv.us2.oraclecloud.com:443</string>
			<key>appKey</key>
			<string>076abdcd-0f21-4c90-961c-ee223ee9e97d</string>
			<key>authorization</key>
			<dict>
				<key>authenticationType</key>
				<string>Basic</string>
				<key>Basic</key>
				<dict>
					<key>mobileBackendID</key>
					<string>2b69703f-83b5-4ee2-95b6-316d90bb2838</string>
					<key>anonymousKey</key>
					<string>YW5vbl9kZXY6QDNEdGx0ZiQ3VVF4YUdTYTZESCo=</string>
				</dict>
			</dict>
			<key>networkConnectionTimeout</key>
			<integer>60</integer>
		</dict>
		<key>Testing</key>
		<dict>
			<key>baseURL</key>
			<string>https://exeloneumobileapptest-a453576.mobileenv.us2.oraclecloud.com:443</string>
			<key>appKey</key>
			<string>9cffc381-5e88-475f-a8d4-10b89321676a</string>
			<key>authorization</key>
			<dict>
				<key>authenticationType</key>
				<string>SSOTokenExchange</string>
				<key>SSOTokenExchange</key>
				<dict>
					<key>mobileBackendID</key>
					<string>7ebd1165-aae4-452f-8f7b-6c6cbdd93667</string>
					<key>anonymousKey</key>
					<string>YW5vbl90c3Q6NkclUXViQGxaQm1vZ09xJFc4Qlg=</string>
				</dict>
			</dict>
			<key>networkConnectionTimeout</key>
			<integer>60</integer>
		</dict>
		<key>TestingAnon</key>
		<dict>
			<key>baseURL</key>
			<string>https://exeloneumobileapptest-a453576.mobileenv.us2.oraclecloud.com:443</string>
			<key>appKey</key>
			<string>9cffc381-5e88-475f-a8d4-10b89321676a</string>
			<key>authorization</key>
			<dict>
				<key>authenticationType</key>
				<string>Basic</string>
				<key>Basic</key>
				<dict>
					<key>mobileBackendID</key>
					<string>7ebd1165-aae4-452f-8f7b-6c6cbdd93667</string>
					<key>anonymousKey</key>
					<string>YW5vbl90c3Q6NkclUXViQGxaQm1vZ09xJFc4Qlg=</string>
				</dict>
			</dict>
			<key>networkConnectionTimeout</key>
			<integer>60</integer>
		</dict>
		<key>Staging</key>
		<dict>
			<key>baseURL</key>
			<string>https://exeloneumobileappstage-a453576.mobileenv.us2.oraclecloud.com:443</string>
			<key>appKey</key>
			<string>ef7078b3-38f5-4583-a369-9013f9129524</string>
			<key>authorization</key>
			<dict>
				<key>authenticationType</key>
				<string>SSOTokenExchange</string>
				<key>SSOTokenExchange</key>
				<dict>
					<key>mobileBackendID</key>
					<string>38a3da9e-8fd5-4625-9ce5-639e0e9d8d03</string>
					<key>anonymousKey</key>
					<string>YW5vbl9zdGc6T1k5cmgyZHghY1AqQGkhRCVxcVM=</string>
				</dict>
			</dict>
			<key>networkConnectionTimeout</key>
			<integer>60</integer>
		</dict>
		<key>StagingAnon</key>
		<dict>
			<key>baseURL</key>
			<string>https://exeloneumobileappstage-a453576.mobileenv.us2.oraclecloud.com:443</string>
			<key>appKey</key>
			<string>ef7078b3-38f5-4583-a369-9013f9129524</string>
			<key>authorization</key>
			<dict>
				<key>authenticationType</key>
				<string>Basic</string>
				<key>Basic</key>
				<dict>
					<key>mobileBackendID</key>
					<string>38a3da9e-8fd5-4625-9ce5-639e0e9d8d03</string>
					<key>anonymousKey</key>
					<string>YW5vbl9zdGc6T1k5cmgyZHghY1AqQGkhRCVxcVM=</string>
				</dict>
			</dict>
			<key>networkConnectionTimeout</key>
			<integer>60</integer>
		</dict>
	</dict>
	<key>logLevel</key>
	<string>debug</string>
</dict>
</plist>
