<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mobileBackends</key>
	<dict>
		<key>Dev</key>
		<dict>
			<key>default</key>
			<true/>
			<key>baseURL</key>
			<string>https://exeloneumobileappdev-a453576.mobileenv.us2.oraclecloud.com:443</string>
			<key>appKey</key>
			<string>076abdcd-0f21-4c90-961c-ee223ee9e97d</string>
			<key>authorization</key>
			<dict>
				<key>authenticationType</key>
				<string>SSOTokenExchange</string>
				<key>SSOTokenExchange</key>
				<dict>
					<key>mobileBackendID</key>
					<string>2b69703f-83b5-4ee2-95b6-316d90bb2838</string>
					<key>anonymousKey</key>
					<string>YW5vbl9kZXY6QDNEdGx0ZiQ3VVF4YUdTYTZESCo=</string>
				</dict>
			</dict>
		</dict>
		<key>Testing</key>
		<dict>
			<key>baseURL</key>
			<string>https://exeloneumobileapptest-a453576.mobileenv.us2.oraclecloud.com:443</string>
			<key>appKey</key>
			<string>9cffc381-5e88-475f-a8d4-10b89321676a</string>
			<key>authorization</key>
			<dict>
				<key>authenticationType</key>
				<string>SSOTokenExchange</string>
				<key>SSOTokenExchange</key>
				<dict>
					<key>mobileBackendID</key>
					<string>09282f50-ed11-4d68-b5cb-20bbed263373</string>
					<key>anonymousKey</key>
					<string>YW5vbl90c3Q6NkclUXViQGxaQm1vZ09xJFc4Qlg=</string>
				</dict>
			</dict>
		</dict>
		<key>Staging</key>
		<dict>
			<key>baseURL</key>
			<string>https://exeloneumobileappstage-a453576.mobileenv.us2.oraclecloud.com:443</string>
			<key>appKey</key>
			<string>ef7078b3-38f5-4583-a369-9013f9129524</string>
			<key>authorization</key>
			<dict>
				<key>authenticationType</key>
				<string>SSOTokenExchange</string>
				<key>SSOTokenExchange</key>
				<dict>
					<key>mobileBackendID</key>
					<string>b54427ca-a868-4777-a3bc-7ee8cefd60e2</string>
					<key>anonymousKey</key>
					<string>YW5vbl9zdGc6T1k5cmgyZHghY1AqQGkhRCVxcVM=</string>
				</dict>
			</dict>
		</dict>
		<key>ProdBGE</key>
		<dict>
			<key>baseURL</key>
			<string>https://exelonmobileapp-a453576.mobileenv.us2.oraclecloud.com:443</string>
			<key>appKey</key>
			<string>319d175e-594f-4c44-a510-a0d8e18f2be5</string>
			<key>authorization</key>
			<dict>
				<key>authenticationType</key>
				<string>SSOTokenExchange</string>
				<key>SSOTokenExchange</key>
				<dict>
					<key>mobileBackendID</key>
					<string>6681b1e8-bf86-40c2-8faf-66b140c76cea</string>
					<key>anonymousKey</key>
					<string>QTQ1MzU3Nl9FWEVMT05NT0JJTEVBUFBfTU9CSUxFX0FOT05ZTU9VU19BUFBJRDprc282Z3Robi5sT2UzZg==</string>
				</dict>
			</dict>
		</dict>
		<key>ProdComEd</key>
		<dict>
			<key>baseURL</key>
			<string>https://exelonmobileapp-a453576.mobileenv.us2.oraclecloud.com:443</string>
			<key>appKey</key>
			<string>5b1b69b9-c006-45aa-9ef5-edfafc10726e</string>
			<key>authorization</key>
			<dict>
				<key>authenticationType</key>
				<string>SSOTokenExchange</string>
				<key>SSOTokenExchange</key>
				<dict>
					<key>mobileBackendID</key>
					<string>e4018111-369f-418e-9d31-e95377170d0e</string>
					<key>anonymousKey</key>
					<string>QTQ1MzU3Nl9FWEVMT05NT0JJTEVBUFBfTU9CSUxFX0FOT05ZTU9VU19BUFBJRDprc282Z3Robi5sT2UzZg==</string>
				</dict>
			</dict>
		</dict>
		<key>ProdPECO</key>
		<dict>
			<key>baseURL</key>
			<string>https://exelonmobileapp-a453576.mobileenv.us2.oraclecloud.com:443</string>
			<key>appKey</key>
			<string>dcf520c1-8533-4914-bd6e-fd223a26116c</string>
			<key>authorization</key>
			<dict>
				<key>authenticationType</key>
				<string>SSOTokenExchange</string>
				<key>SSOTokenExchange</key>
				<dict>
					<key>mobileBackendID</key>
					<string>b7990531-b75c-4345-91c1-1c2ff9b81612</string>
					<key>anonymousKey</key>
					<string>QTQ1MzU3Nl9FWEVMT05NT0JJTEVBUFBfTU9CSUxFX0FOT05ZTU9VU19BUFBJRDprc282Z3Robi5sT2UzZg==</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>logLevel</key>
	<string>none</string>
</dict>
</plist>
