<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>environment</key>
	<string>PRODBETA</string>
	<key>opco</key>
	<string>ACE</string>
	<key>appName</key>
	<string>ACE</string>
	<key>mcsInstanceName</key>
	<string>Prod-aceMBE</string>
	<key>myAccountUrl</key>
	<string>https://atlanticcityelectric.com/MyAccount</string>
	<key>firebaseConfigFile</key>
	<string>GoogleService-Info_ace_prodbeta</string>
	<key>gaTrackingId</key>
	<string>UA-76742208-1</string>
	<key>opcoUpdatesHost</key>
	<string>www.atlanticcityelectric.com</string>
	<key>associatedDomain</key>
	<string>secure.atlanticcityelectric.com</string>
	<key>appCenterId</key>
	<string>e9a6ea32-b142-4414-9e6d-d686f7364d95</string>
</dict>
</plist>
