<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>environment</key>
	<string>STAGE</string>
	<key>opco</key>
	<string>Pepco</string>
	<key>appName</key>
	<string>Pepco_STAGE</string>
	<key>mcsInstanceName</key>
	<string>Stage-pepcoMBE</string>
	<key>myAccountUrl</key>
	<string>https://azstg.pepco.com/MyAccount</string>
	<key>firebaseConfigFile</key>
	<string>GoogleService-Info_pepco_staging</string>
	<key>gaTrackingId</key>
	<string>UA-76742208-8</string>
	<key>opcoUpdatesHost</key>
	<string>azstg.pepco.com</string>
	<key>associatedDomain</key>
	<string>azstg-secure.pepco.com</string>
	<key>appCenterId</key>
	<string>48d86d61-5d68-4757-92db-9c3996f5bc18</string>
</dict>
</plist>
