<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>environment</key>
	<string>STAGE</string>
	<key>opco</key>
	<string>ACE</string>
	<key>appName</key>
	<string>ACE_STAGE</string>
	<key>mcsInstanceName</key>
	<string>Stage-aceMBE</string>
	<key>myAccountUrl</key>
	<string>https://azstg.atlanticcityelectric.com/MyAccount</string>
	<key>firebaseConfigFile</key>
	<string>GoogleService-Info_ace_staging</string>
	<key>gaTrackingId</key>
	<string>UA-76742208-8</string>
	<key>opcoUpdatesHost</key>
	<string>azstg.atlanticcityelectric.com</string>
	<key>associatedDomain</key>
	<string>azstg-secure.atlanticcityelectric.com</string>
	<key>appCenterId</key>
	<string>95dc785e-3617-4005-81f4-42ae3e25d65d</string>
</dict>
</plist>
