<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>watchGaTrackingId</key>
	<string></string>
	<key>environment</key>
	<string>HOTFIX</string>
	<key>opco</key>
	<string>ACE</string>
	<key>appName</key>
	<string>ACE_HOTFIX</string>
	<key>mcsInstanceName</key>
	<string>Stage-aceHotfixMBE</string>
	<key>myAccountUrl</key>
	<string>https://azstg.atlanticcityelectric.com/MyAccount</string>
	<key>outageMapUrl</key>
	<string>https://s3.amazonaws.com/outagemap.atlanticcityelectric.com/app.html</string>
	<key>paymentusUrl</key>
	<string>https://secure2.paymentus.com/xotp/pm/bge</string>
	<key>firebaseConfigFile</key>
	<string>GoogleService-Info_ace_hotfix</string>
	<key>gaTrackingId</key>
	<string>UA-76742208-8</string>
	<key>opcoUpdatesHost</key>
	<string>azstg.atlanticcityelectric.com</string>
	<key>associatedDomain</key>
	<string>azstg-secure.atlanticcityelectric.com</string>
	<key>appCenterId</key>
	<string>ab784d1a-981b-477b-abb9-b54c3917d011</string>
</dict>
</plist>
