<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>watchGaTrackingId</key>
	<string></string>
	<key>environment</key>
	<string>STAGE</string>
	<key>opco</key>
	<string>BGE</string>
	<key>appName</key>
	<string>BGE_STAGE</string>
	<key>mcsInstanceName</key>
	<string>Stage</string>
	<key>myAccountUrl</key>
	<string>https://azstg.bge.com/MyAccount</string>
	<key>outageMapUrl</key>
	<string>https://s3.amazonaws.com/outagemap.bge.com/app.html</string>
	<key>firebaseConfigFile</key>
	<string>GoogleService-Info_bge_staging</string>
	<key>gaTrackingId</key>
	<string>UA-76742208-8</string>
	<key>opcoUpdatesHost</key>
	<string>azstg.bge.com</string>
	<key>associatedDomain</key>
	<string>azstg-secure.bge.com</string>
	<key>appCenterId</key>
	<string>3bf3242e-af11-4b1e-9242-99dce77bbbc8</string>
</dict>
</plist>
