<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>environment</key>
	<string>DEV</string>
	<key>appName</key>
	<string>BGE_DEV</string>
	<key>opco</key>
	<string>BGE</string>
	<key>oauthEndpoint</key>
	<string>https://stage-apigateway.exeloncorp.com/mcs/oauth2/tokens</string>
	<key>mcsInstanceName</key>
	<string>Dev</string>
	<key>fiservUrl</key>
	<string>https://av-billerdirectui-uat.onefiserv.com/BillerDirectUI/Mobile</string>
	<key>outageMapUrl</key>
	<string>https://s3.amazonaws.com/outagemap.bge.com/app.html</string>
	<key>templateCardUrlResidentNotEnrolled</key>
	<string>https://bgesavings.com/enroll</string>
	<key>templateCardUrlLegacyTstat</key>
	<string>https://secure.bge.com/Peakrewards/Pages/default.aspx</string>
	<key>templateCardUrlWiFiTstat</key>
	<string>https://www.ecobee.com/home/ecobeeLogin.jsp</string>
	<key>templateCardUrlCommericalUser</key>
	<string>http://bgesmartenergy.com/business</string>
</dict>
</plist>
