<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>environment</key>
	<string>PRODBETA</string>
	<key>opco</key>
	<string>BGE</string>
	<key>appName</key>
	<string>BGE</string>
	<key>mcsInstanceName</key>
	<string>Prod-bgeMBE</string>
	<key>myAccountUrl</key>
	<string>https://bge.com/MyAccount</string>
	<key>firebaseConfigFile</key>
	<string>GoogleService-Info_bge_prodbeta</string>
	<key>gaTrackingId</key>
	<string>UA-76742208-1</string>
	<key>opcoUpdatesHost</key>
	<string>www.bge.com</string>
	<key>associatedDomain</key>
	<string>secure.bge.com</string>
	<key>appCenterId</key>
	<string>bddc73d9-4dfb-421f-a59f-71c08c3647e5</string>
</dict>
</plist>
