<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>watchGaTrackingId</key>
	<string></string>
	<key>environment</key>
	<string>PRODBETA</string>
	<key>opco</key>
	<string>ComEd</string>
	<key>appName</key>
	<string>ComEd</string>
	<key>mcsInstanceName</key>
	<string>Prod-comedMBE</string>
	<key>myAccountUrl</key>
	<string>https://comed.com/MyAccount</string>
	<key>firebaseConfigFile</key>
	<string>GoogleService-Info_comed_prodbeta</string>
	<key>gaTrackingId</key>
	<string>UA-76742208-3</string>
	<key>opcoUpdatesHost</key>
	<string>www.comed.com</string>
	<key>associatedDomain</key>
	<string>secure.comed.com</string>
	<key>appCenterId</key>
	<string>c98a5583-5894-4b00-bf91-c0a7822376a9</string>
</dict>
</plist>
