<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>environment</key>
	<string>PROD</string>
	<key>opco</key>
	<string>ComEd</string>
	<key>appName</key>
	<string>ComEd</string>
	<key>mcsInstanceName</key>
	<string>Prod-comedMBE</string>
	<key>myAccountUrl</key>
	<string>https://comed.com/MyAccount</string>
	<key>outageMapUrl</key>
	<string>https://s3.amazonaws.com/outagemap.comed.com/app.html</string>
	<key>firebaseConfigFile</key>
	<string>GoogleService-Info_comed</string>
	<key>gaTrackingId</key>
	<string>UA-76742208-3</string>
	<key>opcoUpdatesHost</key>
	<string>www.comed.com</string>
	<key>associatedDomain</key>
	<string>secure.comed.com</string>
	<key>appCenterId</key>
	<string>9f56e08c-6fa5-4209-93a2-d773601a1e45</string>
</dict>
</plist>
