<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>watchGaTrackingId</key>
	<string></string>
	<key>environment</key>
	<string>TEST</string>
	<key>opco</key>
	<string>ComEd</string>
	<key>appName</key>
	<string>ComEd_TEST</string>
	<key>mcsInstanceName</key>
	<string>Test1UAT</string>
	<key>myAccountUrl</key>
	<string>https://aztst.comed.com/MyAccount</string>
	<key>firebaseConfigFile</key>
	<string>GoogleService-Info_comed_testing</string>
	<key>gaTrackingId</key>
	<string>UA-76742208-16</string>
	<key>opcoUpdatesHost</key>
	<string>azstg.comed.com</string>
	<key>associatedDomain</key>
	<string>azstg-secure.comed.com</string>
	<key>appCenterId</key>
	<string>10cbbd03-c59b-4a65-ad28-bd1f289cd329</string>
</dict>
</plist>
