<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>environment</key>
	<string>DEV</string>
	<key>appName</key>
	<string>PECO_DEV</string>
	<key>opco</key>
	<string>PECO</string>
	<key>oauthEndpoint</key>
	<string>https://stage-apigateway.exeloncorp.com/mcs/oauth2/tokens</string>
	<key>mcsInstanceName</key>
	<string>Develop</string>
	<key>fiservUrl</key>
	<string>https://billerwebui.clienttestmatrix.com/Mobile</string>
	<key>speedpayUrl</key>
	<string>https://sptest144aa.speedpay.com/api/token/GetToken</string>
	<key>outageMapUrl</key>
	<string>https://s3.amazonaws.com/outagemap.peco.com/external/app.html</string>
	<key>firebaseConfigFile</key>
	<string>GoogleService-Info_peco_testing</string>
	<key>gaTrackingId</key>
	<string>UA-76742208-17</string>
	<key>opcoUpdatesHost</key>
	<string>azstg.peco.com</string>
	<key>associatedDomain</key>
	<string>applinks:stgd15-secure.peco.com</string>
</dict>
</plist>
