<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>watchGaTrackingId</key>
	<string>UA-130168632-1</string>
	<key>environment</key>
	<string>TEST</string>
	<key>opco</key>
	<string>PECO</string>
	<key>appName</key>
	<string>PECO_TEST</string>
	<key>mcsInstanceName</key>
	<string>mobileAppUATTest</string>
	<key>myAccountUrl</key>
	<string>https://aztst.peco.com/MyAccount</string>
	<key>outageMapUrl</key>
	<string>https://s3.amazonaws.com/outagemap.peco.com/external/app.html</string>
	<key>paymentusUrl</key>
	<string>https://peco-sit-622.paymentus.io/xotp/pm/peco</string>
	<key>firebaseConfigFile</key>
	<string>GoogleService-Info_peco_testing</string>
	<key>gaTrackingId</key>
	<string>UA-76742208-17</string>
	<key>opcoUpdatesHost</key>
	<string>azstg.peco.com</string>
	<key>associatedDomain</key>
	<string>azstg-secure.peco.com</string>
	<key>appCenterId</key>
	<string>5396a42c-0b16-4984-af32-ee9957764960</string>
</dict>
</plist>
