<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>watchGaTrackingId</key>
	<string>UA-130226978-1</string>
	<key>environment</key>
	<string>PROD</string>
	<key>opco</key>
	<string>PECO</string>
	<key>appName</key>
	<string>PECO</string>
	<key>mcsInstanceName</key>
	<string>Prod-pecoMBE</string>
	<key>outageMapUrl</key>
	<string>https://s3.amazonaws.com/outagemap.peco.com/external/app.html</string>
	<key>paymentusUrl</key>
	<string>https://ipn2.paymentus.com/xotp/pm/peco</string>
	<key>firebaseConfigFile</key>
	<string>GoogleService-Info_peco</string>
	<key>gaTrackingId</key>
	<string>UA-76742208-2</string>
	<key>opcoUpdatesHost</key>
	<string>www.peco.com</string>
	<key>associatedDomain</key>
	<string>secure.peco.com</string>
	<key>appCenterId</key>
	<string>0a416441-1ad6-4be2-b009-79f8b15f8b58</string>
</dict>
</plist>
