<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>environment</key>
	<string>STAGE</string>
	<key>opco</key>
	<string>PECO</string>
	<key>appName</key>
	<string>PECO_STAGE</string>
	<key>mcsInstanceName</key>
	<string>Stage</string>
	<key>myAccountUrl</key>
	<string>https://azstg.peco.com/MyAccount</string>
	<key>outageMapUrl</key>
	<string>https://s3.amazonaws.com/outagemap.peco.com/external/app.html</string>
	<key>firebaseConfigFile</key>
	<string>GoogleService-Info_peco_staging</string>
	<key>gaTrackingId</key>
	<string>UA-76742208-17</string>
	<key>opcoUpdatesHost</key>
	<string>azstg.peco.com</string>
	<key>associatedDomain</key>
	<string>azstg-secure.peco.com</string>
	<key>appCenterId</key>
	<string>432a1a21-ccbb-4ee9-b3e3-2480090618f5</string>
</dict>
</plist>
