<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>AD_UNIT_ID_FOR_BANNER_TEST</key>
        <string>ca-app-pub-3940256099942544/2934735716</string>
        <key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
        <string>ca-app-pub-3940256099942544/4411468910</string>
        <key>CLIENT_ID</key>
        <string>50854817572-h47u5q7hi12hja1eera1iigu4h5lmd1o.apps.googleusercontent.com</string>
        <key>REVERSED_CLIENT_ID</key>
        <string>com.googleusercontent.apps.50854817572-h47u5q7hi12hja1eera1iigu4h5lmd1o</string>
        <key>API_KEY</key>
        <string>AIzaSyAs6ukl1SnNnYTTwWX-7vW3EXd1Da6o7o8</string>
        <key>GCM_SENDER_ID</key>
        <string>50854817572</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>com.iphoneproduction.exelon</string>
        <key>PROJECT_ID</key>
        <string>comed-5f9e1</string>
        <key>STORAGE_BUCKET</key>
        <string>comed-5f9e1.appspot.com</string>
        <key>IS_ADS_ENABLED</key>
        <true></true>
        <key>IS_ANALYTICS_ENABLED</key>
        <false></false>
        <key>IS_APPINVITE_ENABLED</key>
        <false></false>
        <key>IS_GCM_ENABLED</key>
        <true></true>
        <key>IS_SIGNIN_ENABLED</key>
        <true></true>
        <key>GOOGLE_APP_ID</key>
        <string>1:50854817572:ios:9a1d3de897148955</string>
        <key>DATABASE_URL</key>
        <string>https://comed-5f9e1.firebaseio.com</string>
    </dict>
</plist>
