<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>50854817572-lubea3e11vh38ia7ggqhk1edplots8os.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50854817572-lubea3e11vh38ia7ggqhk1edplots8os</string>
	<key>API_KEY</key>
	<string>AIzaSyAs6ukl1SnNnYTTwWX-7vW3EXd1Da6o7o8</string>
	<key>GCM_SENDER_ID</key>
	<string>50854817572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exelon.mobile.comed.hotfix</string>
	<key>PROJECT_ID</key>
	<string>comed-5f9e1</string>
	<key>STORAGE_BUCKET</key>
	<string>comed-5f9e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50854817572:ios:324f5811095ad849870db1</string>
	<key>DATABASE_URL</key>
	<string>https://comed-5f9e1.firebaseio.com</string>
</dict>
</plist>