<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>method</key>
	<string>enterprise</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.exelon.mobile.ace.testing</key>
		<string>ACE Testing Enterprise Dist</string>
		<key>com.exelon.mobile.ace.testing.watchkitapp</key>
		<string>ACE Testing Watchkit App Enterprise Dist</string>
		<key>com.exelon.mobile.ace.testing.watchkitapp.watchkitextension</key>
		<string>ACE Testing Watchkit WatchkitExtension Enterprise</string>
	</dict>
	<key>signingCertificate</key>
	<string>Exelon Business Services Company, LLC</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>38R4RRBYR8</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
