<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>method</key>
	<string>enterprise</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.exelon.mobile.comed.prodbeta</key>
		<string>ComEd Production Beta Enterprise Dist</string>
		<key>com.exelon.mobile.comed.prodbeta.watchkitapp</key>
		<string>ComEd Production Beta WatchKit App</string>
		<key>com.exelon.mobile.comed.prodbeta.watchkitapp.watchkitextension</key>
		<string>ComEd Production Beta WatchKit Extension</string>
	</dict>
	<key>signingCertificate</key>
	<string>8C71906E18219258F3FEE656EE6E6E2274B973E8</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>38R4RRBYR8</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
