<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>method</key>
	<string>ad-hoc</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.exelon.mobile.peco.staging</key>
		<string>PECO Staging</string>
	</dict>
	<key>signingCertificate</key>
	<string>305192A978161F709EFCE001FC6CE04332EA32A2</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>YU7Y757VB5</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
