<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481809120487-a9cs43s4govolf6cgt0hq30dagn2n8ja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481809120487-a9cs43s4govolf6cgt0hq30dagn2n8ja</string>
	<key>API_KEY</key>
	<string>AIzaSyCV4zWD3T6TNGPDbm-g8oRcTFo93f8CNUk</string>
	<key>GCM_SENDER_ID</key>
	<string>481809120487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exelon.mobile.pepco.staging</string>
	<key>PROJECT_ID</key>
	<string>pepco-apps</string>
	<key>STORAGE_BUCKET</key>
	<string>pepco-apps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481809120487:ios:48ab4923cd475c6f8af642</string>
	<key>DATABASE_URL</key>
	<string>https://pepco-apps.firebaseio.com</string>
</dict>
</plist>