//
//  Config.xcconfig
//  Mobile
//
//  Created by Joseph Erlandson on 9/10/21.
//  Copyright © 2021 Exelon Corporation. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


// App Version Number - This will need to manually be changed each release

BGE_VERSION = 2.17.0
PECO_VERSION = 2.17.0
COMED_VERSION = 10.17.0
ACE_VERSION = 5.17.0
DPL_VERSION = 5.17.0
PEPCO_VERSION = 5.17.0

APP_VERSION = $($(BUILD_FLAVOR)_VERSION)
