<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mobileBackends</key>
	<dict>
		<key>Test-bgeMBE</key>
		<dict>
			<key>baseURL</key>
			<string>xze-e-n-eudapi-bge-t-ams-01.azure-api.net/legacy</string>
			<key>oauthEndpoint</key>
			<string>dev-apigateway.exeloncorp.com</string>
			<key>paymentusUrl</key>
			<string>https://%@-sit-%d.paymentus.io/xotp/pm/%@</string>
			<key>sharepointBaseURL</key>
			<string>azstg.bge.com/_api/web/lists/GetByTitle(&apos;GlobalAlert&apos;)/items</string>
		</dict>
		<key>Dev-bgeMBE</key>
		<dict>
			<key>baseURL</key>
			<string>xze-e-n-eudapi-bge-d-ams-01.azure-api.net/legacy</string>
			<key>oauthEndpoint</key>
			<string>dev-apigateway.exeloncorp.com</string>
			<key>paymentusUrl</key>
			<string>https://%@-sit-%d.paymentus.io/xotp/pm/%@</string>
			<key>sharepointBaseURL</key>
			<string>azstg.bge.com/_api/web/lists/GetByTitle(&apos;GlobalAlert&apos;)/items</string>
		</dict>
		<key>Stage-bgeMBE</key>
		<dict>
			<key>baseURL</key>
			<string>mcsstg.mobileenv.bge.com</string>
			<key>oauthEndpoint</key>
			<string>stage-apigateway.exeloncorp.com</string>
			<key>paymentusUrl</key>
			<string>https://secure2.paymentus.com/xotp/pm/%@</string>
			<key>sharepointBaseURL</key>
			<string>azstg.bge.com/_api/web/lists/GetByTitle(&apos;GlobalAlert&apos;)/items</string>
		</dict>
		<key>Stage-bgeHotfixMBE</key>
		<dict>
			<key>baseURL</key>
			<string>mcsstg.mobileenv.bge.com</string>
			<key>oauthEndpoint</key>
			<string>stage-apigateway.exeloncorp.com</string>
			<key>paymentusUrl</key>
			<string>https://secure2.paymentus.com/xotp/pm/%@</string>
			<key>sharepointBaseURL</key>
			<string>azstg.bge.com/_api/web/lists/GetByTitle(&apos;GlobalAlert&apos;)/items</string>
		</dict>
		<key>Prod-bgeMBE</key>
		<dict>
			<key>baseURL</key>
			<string>mcs.mobileenv.bge.com</string>
			<key>oauthEndpoint</key>
			<string>apigateway.exeloncorp.com</string>
			<key>paymentusUrl</key>
			<string>https://ipn2.paymentus.com/xotp/pm/%@</string>
			<key>sharepointBaseURL</key>
			<string>bge.com/_api/web/lists/GetByTitle(&apos;GlobalAlert&apos;)/items</string>
		</dict>
		<key>Test-comedMBE</key>
		<dict>
			<key>baseURL</key>
			<string>xze-e-n-eudapi-comed-t-ams-01.azure-api.net/legacy</string>
			<key>oauthEndpoint</key>
			<string>dev-apigateway.exeloncorp.com</string>
			<key>paymentusUrl</key>
			<string>https://%@-sit-%d.paymentus.io/xotp/pm/%@</string>
			<key>sharepointBaseURL</key>
			<string>azstg.comed.com/_api/web/lists/GetByTitle(&apos;GlobalAlert&apos;)/items</string>
		</dict>
		<key>Dev-comedMBE</key>
		<dict>
			<key>baseURL</key>
			<string>xze-e-n-eudapi-comed-d-ams-01.azure-api.net/legacy</string>
			<key>oauthEndpoint</key>
			<string>dev-apigateway.exeloncorp.com</string>
			<key>paymentusUrl</key>
			<string>https://%@-sit-%d.paymentus.io/xotp/pm/%@</string>
			<key>sharepointBaseURL</key>
			<string>azstg.comed.com/_api/web/lists/GetByTitle(&apos;GlobalAlert&apos;)/items</string>
		</dict>
		<key>Stage-comedMBE</key>
		<dict>
			<key>baseURL</key>
			<string>mcsstg.mobileenv.comed.com</string>
			<key>oauthEndpoint</key>
			<string>stage-apigateway.exeloncorp.com</string>
			<key>paymentusUrl</key>
			<string>https://secure2.paymentus.com/xotp/pm/%@</string>
			<key>sharepointBaseURL</key>
			<string>azstg.comed.com/_api/web/lists/GetByTitle(&apos;GlobalAlert&apos;)/items</string>
		</dict>
		<key>Stage-comedHotfixMBE</key>
		<dict>
			<key>baseURL</key>
			<string>mcsstg.mobileenv.comed.com</string>
			<key>oauthEndpoint</key>
			<string>stage-apigateway.exeloncorp.com</string>
			<key>paymentusUrl</key>
			<string>https://secure2.paymentus.com/xotp/pm/%@</string>
			<key>sharepointBaseURL</key>
			<string>azstg.comed.com/_api/web/lists/GetByTitle(&apos;GlobalAlert&apos;)/items</string>
		</dict>
		<key>Prod-comedMBE</key>
		<dict>
			<key>baseURL</key>
			<string>mcs.mobileenv.comed.com</string>
			<key>oauthEndpoint</key>
			<string>apigateway.exeloncorp.com</string>
			<key>paymentusUrl</key>
			<string>https://ipn2.paymentus.com/xotp/pm/%@</string>
			<key>sharepointBaseURL</key>
			<string>comed.com/_api/web/lists/GetByTitle(&apos;GlobalAlert&apos;)/items</string>
		</dict>
		<key>Test-pecoMBE</key>
		<dict>
			<key>baseURL</key>
			<string>xze-e-n-eudapi-peco-t-ams-01.azure-api.net/legacy</string>
			<key>oauthEndpoint</key>
			<string>dev-apigateway.exeloncorp.com</string>
			<key>paymentusUrl</key>
			<string>https://%@-sit-%d.paymentus.io/xotp/pm/%@</string>
			<key>sharepointBaseURL</key>
			<string>azstg.peco.com/_api/web/lists/GetByTitle(&apos;GlobalAlert&apos;)/items</string>
		</dict>
		<key>Dev-pecoMBE</key>
		<dict>
			<key>baseURL</key>
			<string>xze-e-n-eudapi-peco-d-ams-01.azure-api.net/legacy</string>
			<key>oauthEndpoint</key>
			<string>dev-apigateway.exeloncorp.com</string>
			<key>paymentusUrl</key>
			<string>https://%@-sit-%d.paymentus.io/xotp/pm/%@</string>
			<key>sharepointBaseURL</key>
			<string>azstg.peco.com/_api/web/lists/GetByTitle(&apos;GlobalAlert&apos;)/items</string>
		</dict>
		<key>Stage-pecoMBE</key>
		<dict>
			<key>baseURL</key>
			<string>mcsstg.mobileenv.peco.com</string>
			<key>oauthEndpoint</key>
			<string>stage-apigateway.exeloncorp.com</string>
			<key>paymentusUrl</key>
			<string>https://secure2.paymentus.com/xotp/pm/%@</string>
			<key>sharepointBaseURL</key>
			<string>azstg.peco.com/_api/web/lists/GetByTitle(&apos;GlobalAlert&apos;)/items</string>
		</dict>
		<key>Stage-pecoHotfixMBE</key>
		<dict>
			<key>baseURL</key>
			<string>mcsstg.mobileenv.peco.com</string>
			<key>oauthEndpoint</key>
			<string>stage-apigateway.exeloncorp.com</string>
			<key>paymentusUrl</key>
			<string>https://secure2.paymentus.com/xotp/pm/%@</string>
			<key>sharepointBaseURL</key>
			<string>azstg.peco.com/_api/web/lists/GetByTitle(&apos;GlobalAlert&apos;)/items</string>
		</dict>
		<key>Prod-pecoMBE</key>
		<dict>
			<key>baseURL</key>
			<string>mcs.mobileenv.peco.com</string>
			<key>oauthEndpoint</key>
			<string>apigateway.exeloncorp.com</string>
			<key>paymentusUrl</key>
			<string>https://ipn2.paymentus.com/xotp/pm/%@</string>
			<key>sharepointBaseURL</key>
			<string>peco.com/_api/web/lists/GetByTitle(&apos;GlobalAlert&apos;)/items</string>
		</dict>
		<key>Test-pepcoMBE</key>
		<dict>
			<key>projectEnvironmentPath</key>
			<string>/phimobile</string>
			<key>baseURL</key>
			<string>xze-e-n-eudapi-pepco-t-ams-01.azure-api.net</string>
			<key>oauthEndpoint</key>
			<string>dev-apigateway.exeloncorp.com</string>
			<key>paymentusUrl</key>
			<string>https://%@-sit-%d.paymentus.io/xotp/pm/%@</string>
			<key>sharepointBaseURL</key>
			<string>azstg.pepco.com/_api/web/lists/GetByTitle(&apos;GlobalAlert&apos;)/items</string>
		</dict>
		<key>Dev-pepcoMBE</key>
		<dict>
			<key>baseURL</key>
			<string>xze-e-n-eudapi-pepco-d-ams-01.azure-api.net</string>
			<key>oauthEndpoint</key>
			<string>dev-apigateway.exeloncorp.com</string>
			<key>paymentusUrl</key>
			<string>https://%@-sit-%d.paymentus.io/xotp/pm/%@</string>
			<key>sharepointBaseURL</key>
			<string>azstg.pepco.com/_api/web/lists/GetByTitle(&apos;GlobalAlert&apos;)/items</string>
		</dict>
		<key>Stage-pepcoMBE</key>
		<dict>
			<key>baseURL</key>
			<string>mcsstg.mobileenv.pepco.com</string>
			<key>oauthEndpoint</key>
			<string>stage-apigateway.exeloncorp.com</string>
			<key>paymentusUrl</key>
			<string>https://secure2.paymentus.com/xotp/pm/%@</string>
			<key>sharepointBaseURL</key>
			<string>azstg.pepco.com/_api/web/lists/GetByTitle(&apos;GlobalAlert&apos;)/items</string>
		</dict>
		<key>Stage-pepcoHotfixMBE</key>
		<dict>
			<key>baseURL</key>
			<string>mcsstg.mobileenv.pepco.com</string>
			<key>oauthEndpoint</key>
			<string>stage-apigateway.exeloncorp.com</string>
			<key>paymentusUrl</key>
			<string>https://secure2.paymentus.com/xotp/pm/%@</string>
			<key>sharepointBaseURL</key>
			<string>azstg.pepco.com/_api/web/lists/GetByTitle(&apos;GlobalAlert&apos;)/items</string>
		</dict>
		<key>Prod-pepcoMBE</key>
		<dict>
			<key>baseURL</key>
			<string>mcs.mobileenv.pepco.com</string>
			<key>oauthEndpoint</key>
			<string>apigateway.exeloncorp.com</string>
			<key>paymentusUrl</key>
			<string>https://ipn2.paymentus.com/xotp/pm/%@</string>
			<key>sharepointBaseURL</key>
			<string>pepco.com/_api/web/lists/GetByTitle(&apos;GlobalAlert&apos;)/items</string>
		</dict>
		<key>Test-aceMBE</key>
		<dict>
			<key>projectEnvironmentPath</key>
			<string>/phimobile</string>
			<key>baseURL</key>
			<string>xze-e-n-eudapi-ace-t-ams-01.azure-api.net</string>
			<key>oauthEndpoint</key>
			<string>dev-apigateway.exeloncorp.com</string>
			<key>paymentusUrl</key>
			<string>https://%@-sit-%d.paymentus.io/xotp/pm/%@</string>
			<key>sharepointBaseURL</key>
			<string>azstg.atlanticcityelectric.com/_api/web/lists/GetByTitle(&apos;GlobalAlert&apos;)/items</string>
		</dict>
		<key>Dev-aceMBE</key>
		<dict>
			<key>baseURL</key>
			<string>xze-e-n-eudapi-ace-d-ams-01.azure-api.net</string>
			<key>oauthEndpoint</key>
			<string>dev-apigateway.exeloncorp.com</string>
			<key>paymentusUrl</key>
			<string>https://%@-sit-%d.paymentus.io/xotp/pm/%@</string>
			<key>sharepointBaseURL</key>
			<string>azstg.atlanticcityelectric.com/_api/web/lists/GetByTitle(&apos;GlobalAlert&apos;)/items</string>
		</dict>
		<key>Stage-aceMBE</key>
		<dict>
			<key>baseURL</key>
			<string>mcsstg.mobileenv.atlanticcityelectric.com</string>
			<key>oauthEndpoint</key>
			<string>stage-apigateway.exeloncorp.com</string>
			<key>paymentusUrl</key>
			<string>https://secure2.paymentus.com/xotp/pm/%@</string>
			<key>sharepointBaseURL</key>
			<string>azstg.atlanticcityelectric.com/_api/web/lists/GetByTitle(&apos;GlobalAlert&apos;)/items</string>
		</dict>
		<key>Stage-aceHotfixMBE</key>
		<dict>
			<key>baseURL</key>
			<string>mcsstg.mobileenv.atlanticcityelectric.com</string>
			<key>oauthEndpoint</key>
			<string>stage-apigateway.exeloncorp.com</string>
			<key>paymentusUrl</key>
			<string>https://secure2.paymentus.com/xotp/pm/%@</string>
			<key>sharepointBaseURL</key>
			<string>azstg.atlanticcityelectric.com/_api/web/lists/GetByTitle(&apos;GlobalAlert&apos;)/items</string>
		</dict>
		<key>Prod-aceMBE</key>
		<dict>
			<key>baseURL</key>
			<string>mcs.mobileenv.atlanticcityelectric.com</string>
			<key>oauthEndpoint</key>
			<string>apigateway.exeloncorp.com</string>
			<key>paymentusUrl</key>
			<string>https://ipn2.paymentus.com/xotp/pm/%@</string>
			<key>sharepointBaseURL</key>
			<string>atlanticcityelectric.com/_api/web/lists/GetByTitle(&apos;GlobalAlert&apos;)/items</string>
		</dict>
		<key>Test-delmarvaMBE</key>
		<dict>
			<key>projectEnvironmentPath</key>
			<string>/phimobile</string>
			<key>baseURL</key>
			<string>xze-e-n-eudapi-dpl-t-ams-01.azure-api.net</string>
			<key>oauthEndpoint</key>
			<string>dev-apigateway.exeloncorp.com</string>
			<key>paymentusUrl</key>
			<string>https://%@-sit-%d.paymentus.io/xotp/pm/%@</string>
			<key>sharepointBaseURL</key>
			<string>azstg.delmarva.com/_api/web/lists/GetByTitle(&apos;GlobalAlert&apos;)/items</string>
		</dict>
		<key>Dev-delmarvaMBE</key>
		<dict>
			<key>baseURL</key>
			<string>xze-e-n-eudapi-dpl-d-ams-01.azure-api.net</string>
			<key>oauthEndpoint</key>
			<string>dev-apigateway.exeloncorp.com</string>
			<key>paymentusUrl</key>
			<string>https://%@-sit-%d.paymentus.io/xotp/pm/%@</string>
			<key>sharepointBaseURL</key>
			<string>azstg.delmarva.com/_api/web/lists/GetByTitle(&apos;GlobalAlert&apos;)/items</string>
		</dict>
		<key>Stage-delmarvaMBE</key>
		<dict>
			<key>baseURL</key>
			<string>mcsstg.mobileenv.delmarva.com</string>
			<key>oauthEndpoint</key>
			<string>stage-apigateway.exeloncorp.com</string>
			<key>paymentusUrl</key>
			<string>https://secure2.paymentus.com/xotp/pm/%@</string>
			<key>sharepointBaseURL</key>
			<string>azstg.delmarva.com/_api/web/lists/GetByTitle(&apos;GlobalAlert&apos;)/items</string>
		</dict>
		<key>Stage-delmarvaHotfixMBE</key>
		<dict>
			<key>baseURL</key>
			<string>mcsstg.mobileenv.bge.com</string>
			<key>oauthEndpoint</key>
			<string>stage-apigateway.exeloncorp.com</string>
			<key>paymentusUrl</key>
			<string>https://secure2.paymentus.com/xotp/pm/%@</string>
			<key>sharepointBaseURL</key>
			<string>azstg.delmarva.com/_api/web/lists/GetByTitle(&apos;GlobalAlert&apos;)/items</string>
		</dict>
		<key>Prod-delmarvaMBE</key>
		<dict>
			<key>baseURL</key>
			<string>mcs.mobileenv.bge.com</string>
			<key>oauthEndpoint</key>
			<string>apigateway.exeloncorp.com</string>
			<key>paymentusUrl</key>
			<string>https://ipn2.paymentus.com/xotp/pm/%@</string>
			<key>sharepointBaseURL</key>
			<string>delmarva.com/_api/web/lists/GetByTitle(&apos;GlobalAlert&apos;)/items</string>
		</dict>
	</dict>
</dict>
</plist>
