<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mobileBackends</key>
	<dict>
		<key>Test-bgeMBE</key>
		<dict>
			<key>baseURL</key>
			<string>https://xze-e-n-eudapi-bge-t-ams-01.azure-api.net</string>
			<key>anonymousKey</key>
			<string>YW5vbl90c3Q6NkclUXViQGxaQm1vZ09xJFc4Qlg=</string>
			<key>oauthEndpoint</key>
			<string>https://dev-apigateway.exeloncorp.com/eu/oauth2/token</string>
			<key>paymentusUrl</key>
			<string>https://%@-sit-%d.paymentus.io/xotp/pm/%@</string>
		</dict>
		<key>Dev-bgeMBE</key>
		<dict>
			<key>baseURL</key>
			<string>https://xze-e-n-eudapi-bge-d-ams-01.azure-api.net</string>
			<key>anonymousKey</key>
			<string>YW5vbl90c3Q6NkclUXViQGxaQm1vZ09xJFc4Qlg=</string>
			<key>oauthEndpoint</key>
			<string>https://dev-apigateway.exeloncorp.com/eu/oauth2/token</string>
			<key>paymentusUrl</key>
			<string>https://%@-sit-%d.paymentus.io/xotp/pm/%@</string>
		</dict>
		<key>Stage-bgeMBE</key>
		<dict>
			<key>baseURL</key>
			<string>https://xze-e-n-eudapi-bge-s-ams-01.azure-api.net</string>
			<key>anonymousKey</key>
			<string>YW5vbl9zdGc6T1k5cmgyZHghY1AqQGkhRCVxcVM=</string>
			<key>oauthEndpoint</key>
			<string>https://stage-apigateway.exeloncorp.com/eu/oauth2/token</string>
			<key>paymentusUrl</key>
			<string>https://secure2.paymentus.com/xotp/pm/%@</string>
		</dict>
		<key>Stage-bgeHotfixMBE</key>
		<dict>
			<key>baseURL</key>
			<string>https://mcsstg.mobileenv.bge.com</string>
			<key>mobileBackendID</key>
			<string>03adfef5-e1a8-416b-ad0e-8fff74fb04f8</string>
			<key>anonymousKey</key>
			<string>YW5vbl9zdGc6T1k5cmgyZHghY1AqQGkhRCVxcVM=</string>
			<key>oauthEndpoint</key>
			<string>https://stage-apigateway.exeloncorp.com/eu/oauth2/token</string>
			<key>paymentusUrl</key>
			<string>https://secure2.paymentus.com/xotp/pm/%@</string>
		</dict>
		<key>Prod-bgeMBE</key>
		<dict>
			<key>baseURL</key>
			<string>https://mcs.mobileenv.bge.com</string>
			<key>mobileBackendID</key>
			<string>6681b1e8-bf86-40c2-8faf-66b140c76cea</string>
			<key>anonymousKey</key>
			<string>YW5vbl9wcmQ6Y0Y4UiF4MXVCb1pvbGQ0WTFEdSM=</string>
			<key>oauthEndpoint</key>
			<string>https://apigateway.exeloncorp.com/eu/oauth2/token</string>
			<key>paymentusUrl</key>
			<string>https://ipn2.paymentus.com/xotp/pm/%@</string>
		</dict>
		<key>Test-comedMBE</key>
		<dict>
			<key>baseURL</key>
			<string>https://xze-e-n-eudapi-comed-t-ams-01.azure-api.net</string>
			<key>anonymousKey</key>
			<string>YW5vbl90c3Q6NkclUXViQGxaQm1vZ09xJFc4Qlg=</string>
			<key>oauthEndpoint</key>
			<string>https://dev-apigateway.exeloncorp.com/eu/oauth2/token</string>
			<key>paymentusUrl</key>
			<string>https://%@-sit-%d.paymentus.io/xotp/pm/%@</string>
		</dict>
		<key>Dev-comedMBE</key>
		<dict>
			<key>baseURL</key>
			<string>https://xze-e-n-eudapi-comed-d-ams-01.azure-api.net</string>
			<key>anonymousKey</key>
			<string>YW5vbl90c3Q6NkclUXViQGxaQm1vZ09xJFc4Qlg=</string>
			<key>oauthEndpoint</key>
			<string>https://dev-apigateway.exeloncorp.com/eu/oauth2/token</string>
			<key>paymentusUrl</key>
			<string>https://%@-sit-%d.paymentus.io/xotp/pm/%@</string>
		</dict>
		<key>Stage-comedMBE</key>
		<dict>
			<key>baseURL</key>
			<string>https://xze-e-n-eudapi-comed-s-ams-01.azure-api.net</string>
			<key>anonymousKey</key>
			<string>YW5vbl9zdGc6T1k5cmgyZHghY1AqQGkhRCVxcVM=</string>
			<key>oauthEndpoint</key>
			<string>https://stage-apigateway.exeloncorp.com/eu/oauth2/token</string>
			<key>paymentusUrl</key>
			<string>https://secure2.paymentus.com/xotp/pm/%@</string>
		</dict>
		<key>Stage-comedHotfixMBE</key>
		<dict>
			<key>baseURL</key>
			<string>https://mcsstg.mobileenv.comed.com</string>
			<key>mobileBackendID</key>
			<string>98f8a3de-c4a3-4259-8c68-ac33465610ed</string>
			<key>anonymousKey</key>
			<string>YW5vbl9zdGc6T1k5cmgyZHghY1AqQGkhRCVxcVM=</string>
			<key>oauthEndpoint</key>
			<string>https://stage-apigateway.exeloncorp.com/eu/oauth2/token</string>
			<key>paymentusUrl</key>
			<string>https://secure2.paymentus.com/xotp/pm/%@</string>
		</dict>
		<key>Prod-comedMBE</key>
		<dict>
			<key>baseURL</key>
			<string>https://mcs.mobileenv.comed.com</string>
			<key>mobileBackendID</key>
			<string>01470bef-2fda-47d9-9907-201cdfe0ec40</string>
			<key>anonymousKey</key>
			<string>YW5vbl9wcmQ6Y0Y4UiF4MXVCb1pvbGQ0WTFEdSM=</string>
			<key>oauthEndpoint</key>
			<string>https://apigateway.exeloncorp.com/eu/oauth2/token</string>
			<key>paymentusUrl</key>
			<string>https://ipn2.paymentus.com/xotp/pm/%@</string>
		</dict>
		<key>Test-pecoMBE</key>
		<dict>
			<key>baseURL</key>
			<string>https://xze-e-n-eudapi-peco-t-ams-01.azure-api.net</string>
			<key>anonymousKey</key>
			<string>YW5vbl90c3Q6NkclUXViQGxaQm1vZ09xJFc4Qlg=</string>
			<key>oauthEndpoint</key>
			<string>https://dev-apigateway.exeloncorp.com/eu/oauth2/token</string>
			<key>paymentusUrl</key>
			<string>https://%@-sit-%d.paymentus.io/xotp/pm/%@</string>
		</dict>
		<key>Dev-pecoMBE</key>
		<dict>
			<key>baseURL</key>
			<string>https://xze-e-n-eudapi-peco-d-ams-01.azure-api.net</string>
			<key>anonymousKey</key>
			<string>YW5vbl90c3Q6NkclUXViQGxaQm1vZ09xJFc4Qlg=</string>
			<key>oauthEndpoint</key>
			<string>https://dev-apigateway.exeloncorp.com/eu/oauth2/token</string>
			<key>paymentusUrl</key>
			<string>https://%@-sit-%d.paymentus.io/xotp/pm/%@</string>
		</dict>
		<key>Stage-pecoMBE</key>
		<dict>
			<key>baseURL</key>
			<string>https://xze-e-n-eudapi-peco-s-ams-01.azure-api.net</string>
			<key>anonymousKey</key>
			<string>YW5vbl9zdGc6T1k5cmgyZHghY1AqQGkhRCVxcVM=</string>
			<key>oauthEndpoint</key>
			<string>https://stage-apigateway.exeloncorp.com/eu/oauth2/token</string>
			<key>paymentusUrl</key>
			<string>https://secure2.paymentus.com/xotp/pm/%@</string>
		</dict>
		<key>Stage-pecoHotfixMBE</key>
		<dict>
			<key>baseURL</key>
			<string>https://mcsstg.mobileenv.peco.com</string>
			<key>mobileBackendID</key>
			<string>4388b1a1-7011-44eb-b33a-1c18ce02b91f</string>
			<key>anonymousKey</key>
			<string>YW5vbl9zdGc6T1k5cmgyZHghY1AqQGkhRCVxcVM=</string>
			<key>oauthEndpoint</key>
			<string>https://stage-apigateway.exeloncorp.com/eu/oauth2/token</string>
			<key>paymentusUrl</key>
			<string>https://secure2.paymentus.com/xotp/pm/%@</string>
		</dict>
		<key>Prod-pecoMBE</key>
		<dict>
			<key>baseURL</key>
			<string>https://mcs.mobileenv.peco.com</string>
			<key>mobileBackendID</key>
			<string>5ccbf839-ae71-477f-a397-9f5ca1ce7572</string>
			<key>anonymousKey</key>
			<string>YW5vbl9wcmQ6Y0Y4UiF4MXVCb1pvbGQ0WTFEdSM=</string>
			<key>oauthEndpoint</key>
			<string>https://apigateway.exeloncorp.com/eu/oauth2/token</string>
			<key>paymentusUrl</key>
			<string>https://ipn2.paymentus.com/xotp/pm/%@</string>
		</dict>
		<key>Test-pepcoMBE</key>
		<dict>
			<key>projectEnvironmentPath</key>
			<string>/phimobile</string>
			<key>baseURL</key>
			<string>https://xze-e-n-eudapi-pepco-t-ams-01.azure-api.net</string>
			<key>anonymousKey</key>
			<string>YW5vbl90c3Q6NkclUXViQGxaQm1vZ09xJFc4Qlg=</string>
			<key>oauthEndpoint</key>
			<string>https://dev-apigateway.exeloncorp.com/eu/oauth2/token</string>
			<key>paymentusUrl</key>
			<string>https://%@-sit-%d.paymentus.io/xotp/pm/%@</string>
		</dict>
		<key>Dev-pepcoMBE</key>
		<dict>
			<key>baseURL</key>
			<string>https://xze-e-n-eudapi-pepco-d-ams-01.azure-api.net</string>
			<key>anonymousKey</key>
			<string>YW5vbl90c3Q6NkclUXViQGxaQm1vZ09xJFc4Qlg=</string>
			<key>oauthEndpoint</key>
			<string>https://dev-apigateway.exeloncorp.com/eu/oauth2/token</string>
			<key>paymentusUrl</key>
			<string>https://%@-sit-%d.paymentus.io/xotp/pm/%@</string>
		</dict>
		<key>Stage-pepcoMBE</key>
		<dict>
			<key>projectEnvironmentPath</key>
			<string>/phimobile</string>
			<key>baseURL</key>
			<string>https://xze-e-n-eudapi-pepco-s-ams-01.azure-api.net</string>
			<key>anonymousKey</key>
			<string>YW5vbl9zdGc6T1k5cmgyZHghY1AqQGkhRCVxcVM=</string>
			<key>oauthEndpoint</key>
			<string>https://stage-apigateway.exeloncorp.com/eu/oauth2/token</string>
			<key>paymentusUrl</key>
			<string>https://secure2.paymentus.com/xotp/pm/%@</string>
		</dict>
		<key>Stage-pepcoHotfixMBE</key>
		<dict>
			<key>baseURL</key>
			<string>https://mcsstg.mobileenv.bge.com</string>
			<key>mobileBackendID</key>
			<string>03adfef5-e1a8-416b-ad0e-8fff74fb04f8</string>
			<key>anonymousKey</key>
			<string>YW5vbl9zdGc6T1k5cmgyZHghY1AqQGkhRCVxcVM=</string>
			<key>oauthEndpoint</key>
			<string>https://stage-apigateway.exeloncorp.com/eu/oauth2/token</string>
			<key>paymentusUrl</key>
			<string>https://secure2.paymentus.com/xotp/pm/%@</string>
		</dict>
		<key>Prod-pepcoMBE</key>
		<dict>
			<key>baseURL</key>
			<string>https://mcs.mobileenv.bge.com</string>
			<key>mobileBackendID</key>
			<string>6681b1e8-bf86-40c2-8faf-66b140c76cea</string>
			<key>anonymousKey</key>
			<string>YW5vbl9wcmQ6Y0Y4UiF4MXVCb1pvbGQ0WTFEdSM=</string>
			<key>oauthEndpoint</key>
			<string>https://apigateway.exeloncorp.com/eu/oauth2/token</string>
			<key>paymentusUrl</key>
			<string>https://ipn2.paymentus.com/xotp/pm/%@</string>
		</dict>
		<key>Test-aceMBE</key>
		<dict>
			<key>projectEnvironmentPath</key>
			<string>/phimobile</string>
			<key>baseURL</key>
			<string>https://xze-e-n-eudapi-ace-t-ams-01.azure-api.net</string>
			<key>anonymousKey</key>
			<string>YW5vbl90c3Q6NkclUXViQGxaQm1vZ09xJFc4Qlg=</string>
			<key>oauthEndpoint</key>
			<string>https://dev-apigateway.exeloncorp.com/eu/oauth2/token</string>
			<key>paymentusUrl</key>
			<string>https://%@-sit-%d.paymentus.io/xotp/pm/%@</string>
		</dict>
		<key>Dev-aceMBE</key>
		<dict>
			<key>baseURL</key>
			<string>https://xze-e-n-eudapi-ace-d-ams-01.azure-api.net</string>
			<key>anonymousKey</key>
			<string>YW5vbl90c3Q6NkclUXViQGxaQm1vZ09xJFc4Qlg=</string>
			<key>oauthEndpoint</key>
			<string>https://dev-apigateway.exeloncorp.com/eu/oauth2/token</string>
			<key>paymentusUrl</key>
			<string>https://%@-sit-%d.paymentus.io/xotp/pm/%@</string>
		</dict>
		<key>Stage-aceMBE</key>
		<dict>
			<key>projectEnvironmentPath</key>
			<string>/phimobile</string>
			<key>baseURL</key>
			<string>https://xze-e-n-eudapi-ace-s-ams-01.azure-api.net</string>
			<key>anonymousKey</key>
			<string>YW5vbl9zdGc6T1k5cmgyZHghY1AqQGkhRCVxcVM=</string>
			<key>oauthEndpoint</key>
			<string>https://stage-apigateway.exeloncorp.com/eu/oauth2/token</string>
			<key>paymentusUrl</key>
			<string>https://secure2.paymentus.com/xotp/pm/%@</string>
		</dict>
		<key>Stage-aceHotfixMBE</key>
		<dict>
			<key>baseURL</key>
			<string>https://mcsstg.mobileenv.bge.com</string>
			<key>mobileBackendID</key>
			<string>03adfef5-e1a8-416b-ad0e-8fff74fb04f8</string>
			<key>anonymousKey</key>
			<string>YW5vbl9zdGc6T1k5cmgyZHghY1AqQGkhRCVxcVM=</string>
			<key>oauthEndpoint</key>
			<string>https://stage-apigateway.exeloncorp.com/eu/oauth2/token</string>
			<key>paymentusUrl</key>
			<string>https://secure2.paymentus.com/xotp/pm/%@</string>
		</dict>
		<key>Prod-aceMBE</key>
		<dict>
			<key>baseURL</key>
			<string>https://mcs.mobileenv.bge.com</string>
			<key>mobileBackendID</key>
			<string>6681b1e8-bf86-40c2-8faf-66b140c76cea</string>
			<key>anonymousKey</key>
			<string>YW5vbl9wcmQ6Y0Y4UiF4MXVCb1pvbGQ0WTFEdSM=</string>
			<key>oauthEndpoint</key>
			<string>https://apigateway.exeloncorp.com/eu/oauth2/token</string>
			<key>paymentusUrl</key>
			<string>https://ipn2.paymentus.com/xotp/pm/%@</string>
		</dict>
		<key>Test-delmarvaMBE</key>
		<dict>
			<key>projectEnvironmentPath</key>
			<string>/phimobile</string>
			<key>baseURL</key>
			<string>https://xze-e-n-eudapi-dpl-t-ams-01.azure-api.net</string>
			<key>anonymousKey</key>
			<string>YW5vbl90c3Q6NkclUXViQGxaQm1vZ09xJFc4Qlg=</string>
			<key>oauthEndpoint</key>
			<string>https://dev-apigateway.exeloncorp.com/eu/oauth2/token</string>
			<key>paymentusUrl</key>
			<string>https://%@-sit-%d.paymentus.io/xotp/pm/%@</string>
		</dict>
		<key>Dev-delmarvaMBE</key>
		<dict>
			<key>baseURL</key>
			<string>https://xze-e-n-eudapi-dpl-d-ams-01.azure-api.net</string>
			<key>anonymousKey</key>
			<string>YW5vbl90c3Q6NkclUXViQGxaQm1vZ09xJFc4Qlg=</string>
			<key>oauthEndpoint</key>
			<string>https://dev-apigateway.exeloncorp.com/eu/oauth2/token</string>
			<key>paymentusUrl</key>
			<string>https://%@-sit-%d.paymentus.io/xotp/pm/%@</string>
		</dict>
		<key>Stage-delmarvaMBE</key>
		<dict>
			<key>projectEnvironmentPath</key>
			<string>/phimobile</string>
			<key>baseURL</key>
			<string>https://xze-e-n-eudapi-dpl-s-ams-01.azure-api.net</string>
			<key>anonymousKey</key>
			<string>YW5vbl9zdGc6T1k5cmgyZHghY1AqQGkhRCVxcVM=</string>
			<key>oauthEndpoint</key>
			<string>https://stage-apigateway.exeloncorp.com/eu/oauth2/token</string>
			<key>paymentusUrl</key>
			<string>https://secure2.paymentus.com/xotp/pm/%@</string>
		</dict>
		<key>Stage-delmarvaHotfixMBE</key>
		<dict>
			<key>baseURL</key>
			<string>https://mcsstg.mobileenv.bge.com</string>
			<key>mobileBackendID</key>
			<string>03adfef5-e1a8-416b-ad0e-8fff74fb04f8</string>
			<key>anonymousKey</key>
			<string>YW5vbl9zdGc6T1k5cmgyZHghY1AqQGkhRCVxcVM=</string>
			<key>oauthEndpoint</key>
			<string>https://stage-apigateway.exeloncorp.com/eu/oauth2/token</string>
			<key>paymentusUrl</key>
			<string>https://secure2.paymentus.com/xotp/pm/%@</string>
		</dict>
		<key>Prod-delmarvaMBE</key>
		<dict>
			<key>baseURL</key>
			<string>https://mcs.mobileenv.bge.com</string>
			<key>mobileBackendID</key>
			<string>6681b1e8-bf86-40c2-8faf-66b140c76cea</string>
			<key>anonymousKey</key>
			<string>YW5vbl9wcmQ6Y0Y4UiF4MXVCb1pvbGQ0WTFEdSM=</string>
			<key>oauthEndpoint</key>
			<string>https://apigateway.exeloncorp.com/eu/oauth2/token</string>
			<key>paymentusUrl</key>
			<string>https://ipn2.paymentus.com/xotp/pm/%@</string>
		</dict>
	</dict>
</dict>
</plist>
